/* 
TODO: Add styles to match the layout in the image.
Note: you should only need to use flexbox properties and margin/padding to create the layout.
*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    margin: 0.75rem;
}
.nav-link {
    margin: 1rem;
}
button {
    margin: 0.5rem;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* section {
    display: flex;
    justify-content: space-between;
    align-content: center;
    
} */
.card-container {
    display: flex;
    flex-direction: row;

}

.card {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 1rem;
    
}

.features {
    display: flex;
    flex-direction: row;
}

.feature-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;    
}
footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}
.footer-content {
    display: flex;
}   

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 2rem;
}
/* 
Challenge: Use flexbox in media queries to create a responsive layout 
*/


